<%= bootstrap_form_with(model: trader) do |form| %>
  <% if trader.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trader.errors.count, "error") %> prohibited this trader from being saved:</h2>

      <ul>
        <% trader.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-4">
      <%= form.text_field :name %>
    </div>
  </div>

  <div>
    <%= form.primary %>
  </div>
<% end %>