<h2 class="container gx-2">検索・登録</h2>
<div class="container gx-4">
  <%= form_with url: cards_path, method: :get, data: { turbo_frame: "card-list" } do |f| %>
    <div class="row">
      <div class="col-6">
        <p><%= f.text_field :name, placeholder: "カード名", class: "form-control" %></p>
      </div>
      <div class="col-2">
        <p><%= f.submit "検索", class: "btn btn-primary mb-4"%></p>
      </div>
    </div>
  <% end %>


  <%= turbo_frame_tag "card-list" do %>
    <table class="table table-sprited">
      <thead>
      <th scope="col-4">カード名</th>
      <th scope="col-2"></th>
      <th scope="col-2"></th>
      </thead>
      <tbody>
      <% @cards&.each do |card| %>
        <%= render partial: "card", locals: {card: card}%>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>