<%= bootstrap_form_with(model: product, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
  <%= form.hidden_field :name, value: name %>
  カード名: <%= name %>
  <div class="row">
    <div class="col-2">
      <%= form.number_field :num %>
    </div>
    <div class="col-2">
      <%= form.number_field :price %>
    </div>
    <div class="col-3">
      <%= form.select :trader, options_from_collection_for_select(@traders, :id, :name) %>
    </div>
  </div>
  <%= form.primary %>
<% end%>