<%= turbo_frame_tag product do %>
  <%= bootstrap_form_with(model: product, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <%= form.hidden_field :name %>
    <p>カード名: <%= name %></p>
    <p><%= form.number_field :number %></p>
    <p><%= form.number_field :price %></p>
    <%= form.primary %>
  <% end%>
<% end %>